.text-input{
    display: flex;
    flex-direction: column;
    width: min-content;
}


.name-container {
    width: 294px;
    font-family: "Segoe UI";
    font-size: 14px;
    color: #010101;
    margin-left:20px;
    padding-top: 20px;
    line-height: 1;
}

.text-input:hover .value-container:hover
{
    background-color: #f8f8f8;
}

.focussed .value-container {
    background-color: rgb(245, 247, 236) !important;
}

.value-container {
    width: 413px;
    height: 24px;
    font-family: "Segoe UI";
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    margin-top:8px;
    border:1;
    margin-left:20px;
    outline: none;
}

.preview-image{
    max-width : 100px;
    max-height : 100px;
}

button{
    background-color: #93e3f5; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color:orange;
}

button:disabled{
    visibility: hidden;
}

.inner-container{
    align-items: center;
    flex-flow: wrap;
}

.highlighter-container{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-evenly;

}

.logout{
    float: right;
    margin-right: 50px;
}